/**
 * Theme name:  PDPLibre FSE
 * Description: Neve FSE child theme for pdplibre.org
 * Author:      Guillaume AGNIERAY
 * Version:     1.0.1
 * License:     GNU General Public License v3 or later
 * License URI: http://www.gnu.org/licenses/gpl-3.0.html
 * Text Domain: pdplibre-fse
 * Template:    neve-fse
 */

/* Prevent horizontal overflow */
html {
  overflow-x: hidden;
}

/* Fixed header on scroll */
#fixed-header {
  position: fixed;
  width: 100vw;
  max-width: unset;
  left: 0;
  z-index: 100;
}
.page-scrolled #fixed-header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: var(--wp--preset--color--ti-bg-inv);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: -1;
}

/* Customize responsive main menu */
.wp-theme-neve-fse .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
  background: linear-gradient(135deg,var(--wp--preset--color--ti-bg-inv) 0%,#1e1e1e 100%);
  color: var(--wp--preset--color--ti-bg);
}
.wp-theme-neve-fse .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
  align-items: center;
}
.wp-theme-neve-fse .wp-block-navigation__responsive-container-close {
  top: 10px;
  right: 10px;
}
.wp-theme-neve-fse .wp-block-navigation__responsive-container-close svg,
.wp-theme-neve-fse .wp-block-navigation__responsive-container-open svg {
  height: 30px;
  width: 30px;
}

/* Improve main menu accessibility in footer on mobile */
@media (max-width: 599px) {
  footer.wp-block-template-part nav.wp-block-navigation.is-vertical li {
    margin: 10px 0;
  }
}

/* Customize Mosparo container width */
.wp-theme-neve-fse .mosparo__container {
  max-width: none;
}

/* Customize Contact Form 7 fields */
.wpcf7-acceptance .wpcf7-list-item {
  margin-left: 0;
  font-size: .85em;
}

/* Customize Mautic javascript embedded form */
.wp-theme-neve-fse .mauticform_wrapper {
  max-width: 740px;
}
.wp-theme-neve-fse .mauticform-label {
  font-weight: 300;
}
.wp-theme-neve-fse .mauticform-checkboxgrp-label {
  font-weight: 300;
  font-size: .85em;
}
.wp-theme-neve-fse .mauticform-button,
.wp-theme-neve-fse .mauticform-button-wrapper .mauticform-button.btn-ghost,
.wp-theme-neve-fse .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-ghost {
  background: var(--wp--preset--color--ti-accent);
  border: 0;
  border-color: var(--wp--preset--color--ti-accent);
  border-radius: 3px;
  box-shadow: none;
  color: var(--wp--preset--color--ti-fg-alt);
  font-size: var(--wp--preset--font-size--normal);
  font-weight: 600;
  padding: 16px 32px;
}
